brent_minima.cpython-312-x86_64-linux-gnu.so
*.vtu
*.pyc
*.gif
*.pdf
*.png
alpha_2_order_4_nx_32_ny_32.pdf
alpha_2_order_4_nx_32_ny_32.gif
*.npy
FokkerPlanckMFD.py
FokkerPlanck.ipynb
.ipynb_checkpoints/*
FP.ipynb
